body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    white-space: break-spaces;
    word-break: break-all;
    font-size: x-small;
}

pre {
    white-space: break-spaces;
    word-break: break-all;
    font-size: x-small;
}

p {
    overflow: hidden;
}

.calendar-day {
    text-align: center;
}

.calendar-today {
    display: block;
    background-color: rgb(95, 95, 95);
    text-align: center;
}

.calendar-selected {
    display: block;
    background-color: rgb(219, 219, 219);
    text-align: center;
    color: #000000;
}

.calendar-has-event {
    display: inline-block;
    vertical-align: top;
    /* padding-bottom: 10px; */
    position: relative;
    text-align: center;
    /* padding: 20px 10px; */
    /* line-height: 24px; */
    /* color: #fff; */
}

.calendar-has-event::before {
    transform: translateX(-50%);
    border-radius: 100%;
    position: absolute;
    background: #3B83C0;
    bottom: 6px;
    height: 6px;
    content: '';
    width: 6px;
    left: 50%;
}
